# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executables
*.exe
*.out
*.app

# PDF files
*.pdf

# Compiled C++ Chache Files
*.suo
*.pdb

# Visual Studio Code specific files
.vscode/
